<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="images/logo-mercado-liebre.svg" class="logo">
                <div class="form" action="#" method="GET">
                    <input type="search" name="buscar" placeholder="Buscar productos, categorías y marcas">
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href='/register'>Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href='/login'>Ingresar <i class="fas fa-right-to-bracket"></i></a></li>
                    <li><a href='#'>Mis Compras <i class="fas fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </header>
        <main class="login">
            <form action="/" method="POST">
                <div class="username">
                <input type="text" name="user" placeholder="Nombre de usuario">
                </div>
                <div class="contraseña">
                <input type="password" name="pass" placeholder="Contraseña">
                </div>
                <div class="enviar">
                <input type="submit" value="Enviar">
                </div>
            </form>
        </main>
        <footer>
            <section>
                <div class="cardpay">
                  <i class="fas fa-credit-card"></i>
                  <h4>Pagá con Tarjeta o Efectivo</h4>
                  <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div> 
                <div class="shipping">
                  <i class="fas fa-gift"></i>
                  <h4>Envío gratis desde los $2.500</h4>
                  <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="safety">
                  <i class="fas fa-user-shield"></i>
                  <h4>Seguridad de principio a fin</h4>
                  <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido/a.</p>
                </div>
                <p id="copyright">Copyright Ⓒ 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </body>
</html>